%h1= @representative.name
%h2= @representative.title
%p= @representative.address
%p= @representative.city
%p= @representative.state
%p= @representative.zip
%p= @representative.party
%img{ src: @representative.photo_url }
